body {
   max-width: 1200px;
   margin: 0 auto;
}

.color-black {
    color: #000000;
}
.color-orange {
    color: #fec63d;
}
.color-white {
    color: #ffffff;
}
header li,
article li,
footer li {
    display: inline-block;
}
@media (max-width: 620px){
    body{
    max-width: 620px;
    }
    ul, nav, article, div, h1, h2{
        display: inline-block;
    }
}